doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel="stylesheet", href="../css/index.css")
  title Візуалізація термоядерних реакцій
body
  div#navbar

  div#main

  div#option
    .reaction-area
    .reaction-buttons
      .default-reactions
        button( onclick="alert('hello')" ) D
        button( onclick="alert('hello')" ) He
        button( onclick="alert('hello')" ) Fe
        button( onclick="alert('hello')" ) Al


  script(src='../dist/index.bundle.js')
